/* =================== reset css =================== */
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ================== end reset css =================== */
@font-face {
    font-family: 'PT Sans';
    src:  url('../fonts/PTC55F.ttf');
}


body{
    font-family: 'PT Sans';
    background-image: url("../image/assets/background.png");
    background-position: 100% 20%;
    background-size:cover;
    background-repeat: no-repeat;
    width: auto;
    height:auto;
    overflow-x: hidden;
    color: #000;
    line-height: 1;
}

a{
    color: #fff;
}
a:hover{
    color: #000;
    text-decoration: none;
}
hr{border-top: 4px solid #1d1818; margin-top: 0px;}
/* ============================ User Page ====================*/

/* home page */
.main-content{padding:15px;}
.sub-content{ border: 1px solid #a29999; max-width: 720px;padding-bottom: 20px;}
.news-content{float: right;border: 1px solid #a29999;padding-bottom: 20px; }

.latest_singles .latest_post_container { margin-top:15px;  padding: 20px 0 0 15px;}
.latest_singles .view_more{margin-top: -35px; float: right;}

.latest_albums  { margin-top: 50px; }
.latest_albums .latest_post_container { margin-top:15px;   padding: 20px 0 0 10px;}
.latest_albums .view_more{margin-top: -35px; float: right;}

.latest_videos  { margin-top: 50px; }
.latest_videos .latest_post_container { margin-top:15px;  padding: 20px 0 0 10px;}
.latest_videos .view_more{margin-top: -35px;float: right;}

.latest_podcast  { margin-top: 50px; }
.latest_podcast .latest_post_container { margin-top:15px; padding: 20px 0 0 10px;}
.latest_podcast .view_more{margin-top: -35px; float: right;}

.lastest_news .latest_post_container { margin-top: 15px; }
.lastest_news .view_more{margin-top: -35px; float: right; }
.lastest_news .latest_post_container .news{ padding-top: 25px; padding-right: 0;
    padding-left: 30px; padding-bottom: 4px;}
.lastest_news .latest_post_container .news h4{ text-align: left;}
.lastest_news .latest_post_container hr{border-top: 1px solid #eee;}
.lastest_news .latest_post_container hr:last-child{display: none;}
/* end home page */


/* about page */
.about-content{border: 1px solid #a29999;padding: 25px;background: #a29999;}
.about_container{ margin-top: 45px;}
.about_container .mission h2{ text-align: center;}
.about_container .who_we_are{margin-top: 45px;}
.about_container .who_we_are h2{ text-align: center;}
/* end about page */


/* Contact Form */

#contact{
    margin-top: 75px;
}

.contact_form {
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: -webkit-linear-gradient(90deg, #757575 0%, #3c2020 100%);
    background: #757575; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, #757575 0%, #3c2020 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #757575 0%, #3c2020 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #757575 0%, #3c2020 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #757575 0%, #3c2020 100%);
    border-radius: 4px;
    top: 50px;
    width: 80%;
    margin: auto;
    padding: 50px 0px 40px 0;
}

.contact_form h2{   text-align: center;
    margin-bottom: 50px;
    color: #fff; }

.contact_group {
    position: relative;
    margin-bottom: 35px;
}



.contact_form .form-control {
    font-size: 18px;
    padding: 5px 10px 10px 5px;
    display: block;
    width: 70%;
    color: #040404;
    /*border: none;*/
    border: 1px solid #fff;
}

.contact_form .form-control:focus {
    outline: none;
}

/* active state */
.contact_form .form-control:focus ~ label, .contact_form .form-control:valid ~ label {
    top: -20px;
    font-size: 14px;
}


/* BOTTOM BARS ================================= */
.contact_form .bar {
    position: relative;
    display: block;
    width: 70%;
}

    .contact_form .bar:before, .contact_form .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #fff;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .contact_form .bar:before {
        left: 50%;
    }

    .contact_form .bar:after {
        right: 50%;
    }



/* active state */
.contact_form .form-control:focus ~ .bar:before, .contact_form .form-control:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.contact_form .highlight {
    position: absolute;
    height: 60%;
    width: auto;
    top: 25%;
    left: auto;
    pointer-events: none;
    opacity: 0.5;
    text-decoration-color: #000;
}

/* active state */
.contact_form .form-control:focus ~ .contact_form .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #fff;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #fff;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #fff;
    }

    to {
        width: 0;
        background: transparent;
    }
}

/* ============================ End User Page ====================*/